.box1 {
  height: 300px;
  width: 300px;
  background-color: #b2ff33;
  margin: 30px;
  padding: 30px;
  position: relative;
}

.box2 {
  height: 100px;
  width: 100px;
  background-color: #33aaff;
  border: 7px solid yellow;
  position: absolute;
  top: 60px;
  left: 60px;
}
